@{
    ViewData["Title"] = "التصويت";
    ViewData["PageIndex"] = "0";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/styles/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/dist/css/main.css" rel="stylesheet" />
<style>
    label, input, h4 {
        float: right;
    }

    .card {
        margin-bottom: 5rem;
    }
</style>
<div class="content-header">
    <div class="container-fluid" dir="rtl">
        <div class="row mb-2">
            @*<div class="col">
                <h3 class="m-0 text-dark"><i class="nav-icon fas fa-vote-yea"></i> @ViewData["Title"]</h3>
            </div>*@
            <div class="col">
                <h6 class="text-dark"><strong>@Model.FullName</strong></h6>
            </div><!-- /.col -->
            <div class="col">
                <h6 class="text-dark"><strong>@Model.Description</strong></h6>
            </div><!-- /.col -->
            <div class="col">
                <h6 class="text-dark"><strong>الوزن : @Model.VoteWeight</strong></h6>
            </div><!-- /.col -->

        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="container-fluid" id="divItems" dir="rtl">

</div>




@section Scripts {

    <script>
        var MemberId = '@Model.MemberID';
        
    </script>

    <script src="~/scripts/index.js"></script>

}